@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --vert-principal: #28A745;
    --vert-fonce: #304D30;
    --vert-clair-1: #BFE5C7;
    --vert-clair-2: #C5EF99;
    --rose-clair: #FAEDC9;
    --violet-clair: #F8ECFE;
}

html{
    background-color: white !important;
    color: black !important;
    width: 100%;
    height: 100%;
}

.btn-primary{
    background-color: var(--vert-principal);
    color: white;
    border: none;
}

.btn-primary:hover{
    background-color: var(--vert-fonce);
}