@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vert-principal: #28a745;
    --vert-fonce: #304d30;
    --vert-clair-1: #bfe5c7;
    --vert-clair-2: #c5ef99;
    --rose-clair: #faedc9;
    --violet-clair: #f8ecfe;
}

html {
    background-color: white !important;
    color: black !important;
    width: 100%;
    height: 100%;
}

.btn-primary {
    background-color: var(--vert-principal);
    color: white;
    border: none;
}

.btn-little {
    min-height: 2.4rem;
    aspect-ratio: 103/34;
}

.btn-primary:hover {
    background-color: var(--vert-fonce);
}
